<h2>API Keys</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
  voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<h3>My API Keys</h3>
<table class="table">
  <thead>
    <th>Description</th>
    <th>Key</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let apiKey of apiKeys$ | async">
      <td class="middle">{{ apiKey.description }}</td>
      <td class="middle">{{ apiKey.key }}</td>
      <td class="middle">
        <button class="btn btn-sm btn-warning" (click)="deleteApiKey(apiKey)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Create new API Key</h3>

<form clrForm>
  <clr-input-container>
    <label>Description</label>
    <input
      clrInput
      type="text"
      [(ngModel)]="newApiKeyDescription"
      name="description"
    />
  </clr-input-container>
</form>

<button class="btn btn-primary" type="submit" (click)="createApiKey()">
  Create
</button>
