<h2>Packages</h2>

<div class="grid-container">
  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Version</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>

    <clr-dg-row *ngFor="let pkg of pkgs$ | async">
      <clr-dg-cell>{{ pkg.name }}</clr-dg-cell>
      <clr-dg-cell>{{ pkg.version }}</clr-dg-cell>
      <clr-dg-cell>{{ pkg.description }}</clr-dg-cell>
    </clr-dg-row>

    <!--<clr-dg-footer>{{ pkgs.length }} users</clr-dg-footer>-->
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
          >Users per page</clr-dg-page-size
        >
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
