<clr-main-container>
  <!--<div  class="alert alert-app-level">
    ...
  </div>-->
  <clr-alerts>
    <clr-alert
      *ngFor="let alert of alerts$ | async"
      [clrAlertType]="alert.type"
      [clrAlertAppLevel]="true"
    >
      <clr-alert-item>
        <span class="alert-text">{{ alert.text }}</span>
      </clr-alert-item>
    </clr-alert>
  </clr-alerts>
  <clr-header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <span class="title">Zen Linux</span>
      </a>
    </div>
    <div class="header-actions">
      <ng-container *ngIf="user$ | async as user; else unauthorizedActions">
        <clr-dropdown>
          <button
            class="nav-text"
            clrDropdownTrigger
            aria-label="open user dropdown"
          >
            {{ user.name }}
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a
              routerLink="/user/settings"
              routerLinkActive="active"
              class="dropdown-item"
              >Settings</a
            >
            <a
              routerLink="/user/api-keys"
              routerLinkActive="active"
              class="dropdown-item"
              >API Keys</a
            >
            <div class="dropdown-item" (click)="logOut()">Log out</div>
          </clr-dropdown-menu>
        </clr-dropdown>
      </ng-container>

      <ng-template #unauthorizedActions>
        <a
          routerLink="/login"
          routerLinkActive="active"
          class="nav-link nav-text"
          >Log in</a
        >
      </ng-template>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      class="nav-trigger--bottom"
    >
      <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="dashboard"></cds-icon>
        Dashboard
      </a>
      <a clrVerticalNavLink routerLink="/downloads" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="download-cloud"></cds-icon>
        Downloads
      </a>
      <a clrVerticalNavLink routerLink="/packages" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bundle"></cds-icon>
        Packages
      </a>
      <a
        clrVerticalNavLink
        routerLink="/repositories"
        routerLinkActive="active"
      >
        <cds-icon clrVerticalNavIcon shape="storage"></cds-icon>
        Repositories
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
