<h2>Login</h2>

<form clrForm>
  <clr-input-container>
    <label>Email</label>
    <input clrInput type="text" [(ngModel)]="email" name="email" />
  </clr-input-container>
  <clr-password-container>
    <label>Password</label>
    <input clrPassword [(ngModel)]="password" name="password" />
  </clr-password-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input
        type="checkbox"
        clrCheckbox
        [(ngModel)]="remember"
        name="options1"
      />
      <label>Remember me</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
</form>

<button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
